.circle1 {
    width: 40vw;
    height: 40vw;
    top: 20vh;
    left: -25vw;
    background-color: #FF99CF;
}

.circle2 {
    width: 30vw;
    height: 30vw;
    top: -20vh;
    left: 50vw;
    background-color: #A78999;
}

.circle3 {
    width: 70vw;
    height: 70vw;
    top: 40vh;
    left: 60vw;
    background-color: #642B49;
}

